$background: #ebecf0;

.lane {
  background-color: $background;
  margin: 0 .5rem .5rem .5rem;
  border-radius: .25rem;
}

.laneHeader {
  height: 2rem;
  padding: .5rem 0;
  margin-bottom: 1rem;

  .laneName {
    display: inline-block;
    font-weight: bold;
    width: 80%;
    height: 2rem;
    padding: .375rem .75rem;

    &:hover {
      cursor: pointer;
    }
  }

  .laneNameInputForm {
    display: inline-block;
    width: 80%;
    height: 2rem;
  }
}

.laneFooter {
  padding-bottom: .5rem;
}

.btnAddCard {
  height: 40px;
  padding: .2rem .6rem;

  &:hover {
    background-color: darken($background, 10%);
  }
}

.btnCancel {
  &:hover {
    background-color: darken($background, 10%);
  }
}

.taskInputForm input[type="text"] {
  height: 40px;
  margin-bottom: .5rem;
}

.btnRemove {
  padding: .1em .6em;

  &:hover {
    background-color: darken($background, 10%);
  }
}